@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
  scroll-behavior: smooth;
}

.name {
  letter-spacing: 4px;
}

.link-hover {
    position: relative;
    text-decoration: none !important;
  }
  
  .link-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
  }
  
  .link-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .ohey-img {
    box-shadow: -15px 40px 10px rgba(177, 177, 177, 0.4);
  }

  .blinker {
    animation: typeBlink 0.9s linear infinite;
  }

  @keyframes typeBlink {
    0%, 50% {
      opacity: 0;
    }
    51%, 100% {
      opacity: 1;
    }
  }

  @keyframes letterFall {
    0% {
      transform: translate(60px, -20px);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 
  
  .animate-letter-fall {
    animation: letterFall 4s forwards;
  }

  .text-shadow {
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
  }

  .arrow-down {
    animation: arrowDown 3s linear infinite;
  }

  @keyframes arrowDown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 0.4;
    }
    100% {
      transform: translateY(30%);
       opacity: 0;
    }
  }

  .card-container {
    perspective: 600px;
  }

  .card-container:hover > .card1,
  .card-container:hover > .card2,
  .card-container:hover > .card3{
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .card {
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }

  .front-card,
  .back-card {
    backface-visibility: hidden;
  }

  @media (max-height: 630px) {
      .card-img {
        width: 100%;
        left: 0;
      }
  }

  .back-card {
    transform: rotateY(180deg);
  }

  .card-btn {
    background: linear-gradient(to right, rgb(28, 37, 64), rgb(0, 0, 0));
    background-size: 200% 100%;
    animation: btnColors 2s linear infinite alternate;
  }

  .card-btn:hover {
    background: linear-gradient(to right, rgb(8, 61, 122), rgb(110, 123, 153));
    background-size: 200% 100%;
    animation: btnColors 2s linear infinite alternate;
  }

  @keyframes btnColors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .projects {
    white-space: nowrap;
    overflow: hidden;
  }

  .projects:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #1C2541, #1C2541 15%, #ffffff00 85%, #ffffff00);
    z-index: 2;
  }


  .projects:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, #1C2541, #1C2541 15%, #ffffff00 85%, #ffffff00);
    z-index: 2;
  }

  .project-scroll {
    display: inline-flex;
    animation: 17s projectSlide infinite linear;
  }

  @keyframes projectSlide {
    from {
      transform: translateX(0)
    }
    to {
      transform: translateX(-100%)
    }
  }

  .projects:hover .project-scroll {
    animation-play-state: paused;
  }

  .image-dropshadow {
    box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.2);
  }

  .gitbox:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: #0b132b7d;
    transform: translate(20px, 20px);
    content: '';
    z-index: -1;
  }

  .gitbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: #142451;
    transform: translate(-20px, -20px);
    content: '';
    z-index: -1;
  }
  
  .connect-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3a5a77;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
  }
  
  .connect-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

  .fade-away {
    animation: fade-away 1s ease-in-out forwards;
  }

  @keyframes fade-away {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }